#text-area {
    width: 100%;
    height: 200px;
    border: 1px solid #fff;
    background-color: azure;
    padding: 5px;
    border-style: none;
    outline: none;
}

.env {
    display: flex;
    flex-flow: column;
    width: 550px;
    margin: 18px auto;
}
